[[headers]]
  for = "/style.css"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self'; object-src 'none'; base-uri 'self'; script-src 'self' 'unsafe-inline' https://beaubremer.com https://challenges.cloudflare.com https://cdnjs.cloudflare.com https://www.gstatic.com https://cdn.jsdelivr.net https://unpkg.com https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://unpkg.com https://cdnjs.cloudflare.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com; connect-src 'self' https://beaubremer.com https:; img-src 'self' data: https: https://challenges.cloudflare.com https://*.tile.openstreetmap.org; frame-src https://challenges.cloudflare.com;"
    Permissions-Policy = "accelerometer=(), autoplay=(), camera=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), hid=(), interest-cohort=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), usb=(), xr-spatial-tracking=()"
    Cross-Origin-Opener-Policy = "same-origin-report-to=\"default\""
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    
    cross-origin-resource-policy = "cross-origin"
    x-permitted-cross-domain-policies = "none"

[build]
  functions = "netlify/functions"
  command = "npm run build:css"
  
[[redirects]]
  from = "/blog"
  to = "https://blog.beaubremer.com/"
  status = 301
  force = true

[[redirects]]
  from = "/blog/*"
  to = "https://blog.beaubremer.com/:splat"
  status = 301
  force = true
